#image {
    width:150px ;
height:150px;
margin: 0;}


 /* box code */
 @keyframes animatedSquare {
    0%   {background-color: rgb(110, 227, 21);}
    25%  {background-color: rgb(217, 217, 51);}
    50%  {background-color: rgb(31, 31, 199);}
    100% {background-color: rgb(220, 59, 204);}
    border: 50%;

}

body{margin: 0%;}
  
  div:hover {
    width: 150px;
    height: 150px;
    background-color: grey;
    animation-name: animatedSquare;
    animation-duration: 5s;
    animation-iteration-count:2%; 
    transform: translate(50%);
    margin: 0% 0% 0% 0% ;

    
  }

  